themes {
    monokai_suka {
        text_unselected {
            base 196 197 181
            background 26 26 26
            emphasis_0 152 224 36
            emphasis_1 250 132 25
            emphasis_2 244 0 95
            emphasis_3 73 202 228
        }
        text_selected {
            base 246 246 239
            background 52 52 52
            emphasis_0 244 0 95
            emphasis_1 152 224 36
            emphasis_2 250 132 25
            emphasis_3 73 202 228
        }
        ribbon_selected {
            base 26 26 26
            background 244 0 95
            emphasis_0 246 246 239
            emphasis_1 246 246 239
            emphasis_2 246 246 239
            emphasis_3 246 246 239
        }
        ribbon_unselected {
            base 196 197 181
            background 26 26 26
            emphasis_0 244 0 95
            emphasis_1 152 224 36
            emphasis_2 250 132 25
            emphasis_3 73 202 228
        }
        table_title {
            base 246 246 239
            background 0
            emphasis_0 244 0 95
            emphasis_1 244 0 95
            emphasis_2 244 0 95
            emphasis_3 244 0 95
        }
        table_cell_selected {
            base 246 246 239
            background 52 52 52
            emphasis_0 244 0 95
            emphasis_1 152 224 36
            emphasis_2 250 132 25
            emphasis_3 73 202 228
        }
        table_cell_unselected {
            base 196 197 181
            background 26 26 26
            emphasis_0 244 0 95
            emphasis_1 152 224 36
            emphasis_2 250 132 25
            emphasis_3 73 202 228
        }
        list_selected {
            base 246 246 239
            background 52 52 52
            emphasis_0 244 0 95
            emphasis_1 244 0 95
            emphasis_2 244 0 95
            emphasis_3 244 0 95
        }
        list_unselected {
            base 196 197 181
            background 26 26 26
            emphasis_0 196 197 181
            emphasis_1 196 197 181
            emphasis_2 196 197 181
            emphasis_3 196 197 181
        }
        frame_selected {
            base 244 0 95
            background 0
            emphasis_0 246 246 239
            emphasis_1 246 246 239
            emphasis_2 246 246 239
            emphasis_3 246 246 239
        }
        frame_highlight {
            base 73 202 228
            background 0
            emphasis_0 246 246 239
            emphasis_1 246 246 239
            emphasis_2 246 246 239
            emphasis_3 246 246 239
        }
        exit_code_success {
            base 152 224 36
            background 0
            emphasis_0 152 224 36
            emphasis_1 26 26 26
            emphasis_2 152 224 36
            emphasis_3 73 202 228
        }
        exit_code_error {
            base 244 0 95
            background 0
            emphasis_0 250 132 25
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 244 0 95
            player_2 73 202 228
            player_3 152 224 36
            player_4 250 132 25
            player_5 174 232 244
            player_6 224 213 97
            player_7 186 235 246
            player_8 98 94 76
            player_9 0
            player_10 0
        }
    }
}
